URxvt.font:             xft:xos4 Terminus:style=Regular
URxvt.boldFont:         xft:xos4 Terminus:style=Bold
URxvt.italicFont:       xft:xos4 Terminus:style=Regular
URxvt.boldItalicFont:   xft:xos4 Terminus:style=Bold
URxvt.scrollBar:        false
URxvt.depth:            32
dzen2.font:             xft:xos4 Terminus:style=Regular
