#define myfont		Envy Code R
#define myfontSize	24

Xft.dpi: 272
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintnone
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
URxvt.font: xft:myfont:pixelsize=myfontSize
URxvt.scrollBar: false
