Xft.autohint:           1
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintfull
Xft.hinting:            1
Xft.antialias:          1
Xft.rgba:               rgb
URxvt.font:             xft:Hermit-10
URxvt.scrollBar:        false
URxvt.depth:            32
dzen2.font:             -misc-hermit-medium-r-normal--0-100-0-0-m-0-iso10646-1
